@import "components/vars";
@import "components/mixins";
@import "components/print";

@include main;

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  #wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
  }

  .layer {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    &__content-wrap {
      position: absolute;
      width: 100vw;
      min-height: 50vw;
      top: 50%;
      transform: translateY(-50%);
    }

    &__content-body {
      width: 25%;
      position: absolute;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
      color: #ffffff;
      @include media-max-width(500) {
        width: 30%;
      }
    }

    &__img {
      position: absolute;
      max-width: 100%;
      max-height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__heading {
      color: #fdfdfd;
    }

    &__quote {
      margin: 0.5em 10px;
      padding: 0 10px;
      quotes: "\201C""\201D""\2018""\2019";
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-style: italic;
      border: 2px solid $tertiary_clr;
      border-radius: 50px 0 50px 0;
      @include media-max-width(500) {
        line-height: 0.6;
        padding: 20px 5px;
        margin: 0;
      }
      &::before {
        content: open-quote;
        font-size: 26px;
        vertical-align: -0.2em;
      }

      &::after {
        content: close-quote;
        font-size: 26px;
        vertical-align: -0.2em;
      }
    }
  }

  .bottom {
    @include background($bottom-bg-image);
    z-index: 5;
    &__content-body {
      right: 5%;
      color: lighten($color: $primary_clr, $amount: 10);
      @include media-max-width(500) {
        right: 0;
      }
    }
  }

  .top {
    @include background($top-bg-image);
    color: $primary_clr;
    z-index: 10;
    width: 50vw;

    &__content-body {
      left: 5%;
      color: darken($color: $secondary_clr, $amount: 10);
      @include media-max-width(500) {
        left: 0;
      }
    }
  }

  .handle {
    position: absolute;
    height: 100%;
    display: block;
    background-color: $tertiary_clr;
    width: 10px;
    top: 0;
    left: 50%;
    z-index: 20;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    transform-origin: top;
  }

  &__top {
    margin-left: -1000px;
    width: calc(50vw + 1000px);

    &--content-wrap {
      margin-left: 1000px;
    }
  }

  #carousel-container {
    height: 100vh;
    width: 100%;
    z-index: 100;
    @include background($carousel-bg);

    .carousel {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;

      &__slide {
        position: absolute;
        transform: translateX(100%);
        left: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s linear;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        .carousel__content {
          position: absolute;
          width: 100%;
          max-width: 500px;
          top: 0;
          padding: 15px;
          background: rgba($color: $tertiary_clr, $alpha: 0.8);
          transition: transform 0.2s linear 0.5s;
          transform: translateX(-100%);
          color: lighten($color: $primary_clr, $amount: 30);
          border-radius: 0 0 50px 0;

          .carousel__title {
            font: 24px;
            font-style: italic;
            margin-bottom: 10px;
            span {
              margin-top: 5px;
              display: block;
              font-weight: 300;
            }
          }
        }

        &.active {
          opacity: 1;
          transform: translateX(0%);

          .carousel__content {
            transform: translateX(0%);
          }
        }
      }

      &__btns {
        position: absolute;
        z-index: 999;
        top: 50%;
        transform: translateY(-50%);
        padding: 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        .carousel__btn {
          width: 50px;
          height: 50px;
          color: rgba($color: #ffffff, $alpha: 1);
          font-size: 20px;
          line-height: 50px;
          text-align: center;
          font-weight: 300;
          border-radius: 50%;
          background: none;
          border: 1px solid #ffffff;
          cursor: pointer;
          transition: background 0.2s linear, color 0.2s ease-out;
          &:hover {
            background: $tertiary_clr;
            color: $secondary_clr;
            border: 1px solid $primary_clr;
          }
        }
      }
    }
  }
}
